extends /templates/shared/_layout

block vars
  - var demo = false
block header
block footer

block content
  .intro
    include /images/hexagon-svef-link.svg

    include /images/hexagon-awards-link.svg

    include /images/hexagon-conf-link.svg
