extends /templates/shared/_layout

block header
block footer

block content
  .intro
    include /images/hexagon-svef.svg
    include /images/type-svef.svg

    include /images/hexagon-awards.svg
    include /images/type-awards.svg

    include /images/hexagon-conf.svg
    include /images/type-conf.svg
